/**
{
	border: 1px solid red;
}
*/
html, body
{
	height: 100%;
}

#main-div
{
	height: 100%;
	background-color: #111;
	padding: 10%;
}

#div2
{
	width: 80%;
	margin-top: 10%;
}

a:hover
{
	text-decoration: none;
}


#linksDiv
{
	margin: 0 auto;
	text-align: center;
}
